<div class="nav">
  <div class="nav-item">
    <img src="assets/flower.png" class="nav-item-icon">
  </div>
  <div class="nav-item">
    <a [routerLink]="['/home']"><i class="fas fa-home"></i><span class="nav-item__text" id="homeLink">Home</span></a>
  </div>
  <div class="nav-item">
    <a [routerLink]="['/about']"><i class="fas fa-user"></i><span class="nav-item__text" id="aboutLink">About</span></a>
  </div>
  <div class="nav-item">
    <a [routerLink]="['/skills']"><i class="fas fa-code-branch"></i><span class="nav-item__text" id="skillsLink">Skills</span></a>
  </div>
  <div class="nav-item">
    <a [routerLink]="['/projects']"><i class="fas fa-code"></i><span class="nav-item__text" id="projectsLink">Projects</span></a>
  </div>
  <div class="nav-item">
    <a [routerLink]="['/contact']"><i class="far fa-envelope"></i><span class="nav-item__text" id="contactLink">Contact</span></a>
  </div>
  <div class="social-links">
    <a class="social-links__link" href="https://github.com/hannahgrinton" target="_blank"><i class="fab fa-github"></i></a>
    <a class="social-links__link" href="https://www.linkedin.com/in/hannahgrinton" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    <a class="social-links__link" href="https://twitter.com/hannahgrinton" target="_blank"><i class="fab fa-twitter"></i></a>
    <a class="social-links__link" href="https://www.instagram.com/hannahgrinton.webdeveloper" target="_blank"><i class="fab fa-instagram"></i></a>
    <a class="social-links__link" href="https://www.facebook.com/hannahgrinton.webdeveloper" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a class="social-links__link" href="https://www.pinterest.ca/hannahgrinton/" target="_blank"><i class="fab fa-pinterest"></i></a>
  </div>
</div>

<router-outlet></router-outlet>
