//----------------------------------------------- variables
$brown: #62554a;
$magenta: #7d4957;
$mauve: #b67c7a;
$jade: #798f85;
$sage: #afbbb5;
$cotton: #ebe0e0;
$white: #ffffff;
$transparent-white: #ffffff9d;
$large-screen: 1030px; //ipad pro
$medium-screen: 800px; //ipad
$small-screen: 450px; //iphone plus

//----------------------------------------------- fonts
$nixie: 'Nixie One', cursive;
$assistant: 'Assistant', sans-serif;
//----------------------------------------------- mixins
@mixin display-flex() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
//----------------------------------------------- global styles
.content {
    width: 100%;
    min-height: 100%;
}